[submodule "dracula"]
	path = vim/pack/colours/start/dracula
	url = https://github.com/dracula/vim
[submodule "nerdtree"]
	path = vim/pack/syntax/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "omnisharp"]
	path = vim/pack/syntax/start/omnisharp
	url = https://github.com/OmniSharp/Omnisharp-vim
[submodule "lightline"]
	path = vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim-lsp"]
	path = vim/pack/syntax/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/syntax/start/vim-lsp-settings"]
	path = vim/pack/syntax/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
